body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    grid-gap: 3px;
}

.cell {
    width: 10%;
    height: 10%;
    background-color: #b0b0b0;
}
